<div style="position:absolute;z-index:99999999;border-bottom:1px solid white;height:110px;width:100%;background:black;opacity:0.8;">

<div style="font-size:35px;">
<p style="margin:30px;color:white;font-family:Roboto2;">EMPORIO CARS</p>
</div>  


<div style="margin-left:70px;margin:0px auto;width:870px;">

<a class="active" href="#" onClick="goto('#home', this); return false"style="float:left;font-size:20px;color:white;font-family:Roboto2;margin-right:40px;">HOME</a>

<a href="#" onClick="goto('#used', this); return false"style="float:left;font-size:20px;color:white;font-family:Roboto2;margin-right:40px;">USED CARS</a>

<a href="#" onClick="goto('#warranty', this); return false" style="float:left;font-size:20px;color:white;font-family:Roboto2;margin-right:40px;">WARRANTY</a>

<a href="#" onClick="goto('#finance', this); return false"  style="float:left;font-size:20px;color:white;font-family:Roboto2;margin-right:40px;">FINANCE</a>

<a href="#" onClick="goto('#about', this); return false"  style="float:left;font-size:20px;color:white;font-family:Roboto2;margin-right:40px;">ABOUT US</a>

<a href="#" onClick="goto('#contact', this); return false"  style="float:left;font-size:20px;color:white;font-family:Roboto2;margin-right:40px;">CONTACT US</a>

</div>
</div>



    <div id="wrap">
      
    <div id="content">
    
      <div class="contentbox-wrapper">
        






        <div id="home" class="contentbox">

        <img  src="/c63.jpg" style="width:100%;height:550px;border-bottom:1px solid white;" />

        <div style="width:960px;margin:0px auto;">
        

        <div style="float:left;width:470px;height:300px;color:white;">
        <h3>Emporio Cars - Home of Prestige</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed iaculis ornare nibh, vel condimentum risus blandit ut. Sed vel tortor ac ligula blandit interdum eu vel leo. In semper, nunc sit amet tincidunt volutpat, nisl elit tempor eros, at rutrum nisl enim a lorem. Ut quis tellus felis. Maecenas rhoncus accumsan odio quis faucibus. Aliquam erat tortor, vehicula eget facilisis eget, commodo et sapien. Suspendisse potenti. Praesent convallis urna non est mollis ultrices. Fusce fringilla lacinia sapien non eleifend. Morbi venenatis nulla id libero tempus et volutpat sem facilisis. Duis eu lacus sapien. Aliquam a lorem justo. Cras nec mi quam, vitae fermentum urna. </p>
        </div>

        <div style="float:right;width:470px;height:300px;">r</div>

        <div style="float:left;width:470px;height:300px;">
        </div>

        <div style="float:right;width:470px;height:300px;color:white;">
        <h3>Services</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed iaculis ornare nibh, vel condimentum risus blandit ut. Sed vel tortor ac ligula blandit interdum eu vel leo. In semper, nunc sit amet tincidunt volutpat, nisl elit tempor eros, at rutrum nisl enim a lorem. Ut quis tellus felis. Maecenas rhoncus accumsan odio quis faucibus. Aliquam erat tortor, vehicula eget facilisis eget, commodo et sapien. Suspendisse potenti. Praesent convallis urna non est mollis ultrices. Fusce fringilla lacinia sapien non eleifend. Morbi venenatis nulla id libero tempus et volutpat sem facilisis. Duis eu lacus sapien. Aliquam a lorem justo. Cras nec mi quam, vitae fermentum urna. </p>
        </div>


        </div>       
        </div>
        











        <div id="used" class="contentbox">




        <h3>Work</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed iaculis ornare nibh, vel condimentum risus blandit ut. Sed vel tortor ac ligula blandit interdum eu vel leo. In semper, nunc sit amet tincidunt volutpat, nisl elit tempor eros, at rutrum nisl enim a lorem. Ut quis tellus felis. Maecenas rhoncus accumsan odio quis faucibus. Aliquam erat tortor, vehicula eget facilisis eget, commodo et sapien. Suspendisse potenti. Praesent convallis urna non est mollis ultrices. Fusce fringilla lacinia sapien non eleifend. Morbi venenatis nulla id libero tempus et volutpat sem facilisis. Duis eu lacus sapien. Aliquam a lorem justo. Cras nec mi quam, vitae fermentum urna. </p>
        </div>
        













        <div id="warranty" class="contentbox">
        <img  src="/fplanet.jpg" style="width:100%;height:550px;border-bottom:1px solid white;" />

        <div style="width:960px;margin:0px auto;">
        <div style="float:left;width:470px;height:300px;color:white;">


        <h3>Wararanty</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed iaculis ornare nibh, vel condimentum risus blandit ut. Sed vel tortor ac ligula blandit interdum eu vel leo. In semper, nunc sit amet tincidunt volutpat, nisl elit tempor eros, at rutrum nisl enim a lorem. Ut quis tellus felis. Maecenas rhoncus accumsan odio quis faucibus. Aliquam erat tortor, vehicula eget facilisis eget, commodo et sapien. Suspendisse potenti. Praesent convallis urna non est mollis ultrices. Fusce fringilla lacinia sapien non eleifend. Morbi venenatis nulla id libero tempus et volutpat sem facilisis. Duis eu lacus sapien. Aliquam a lorem justo. Cras nec mi quam, vitae fermentum urna. </p>
        </div>
        </div>

        </div>
    










        <div id="finance" class="contentbox">

        <img  src="/c63.jpg" style="width:100%;height:550px;border-bottom:1px solid white;" />
                
        <div style="width:960px;margin:0px auto;">
        <div style="float:RIGHT;width:470px;height:300px;color:white;">


        <h3>Finance</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed iaculis ornare nibh, vel condimentum risus blandit ut. Sed vel tortor ac ligula blandit interdum eu vel leo. In semper, nunc sit amet tincidunt volutpat, nisl elit tempor eros, at rutrum nisl enim a lorem. Ut quis tellus felis. Maecenas rhoncus accumsan odio quis faucibus. Aliquam erat tortor, vehicula eget facilisis eget, commodo et sapien. Suspendisse potenti. Praesent convallis urna non est mollis ultrices. Fusce fringilla lacinia sapien non eleifend. Morbi venenatis nulla id libero tempus et volutpat sem facilisis. Duis eu lacus sapien. Aliquam a lorem justo. Cras nec mi quam, vitae fermentum urna. </p>
        </div>
        </div>

                
        </div>
        













        <div id="about" class="contentbox">

        <img  src="/lambo.jpg" style="width:100%;height:550px;border-bottom:1px solid white;" />


        <h3>About</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed iaculis ornare nibh, vel condimentum risus blandit ut. Sed vel tortor ac ligula blandit interdum eu vel leo. In semper, nunc sit amet tincidunt volutpat, nisl elit tempor eros, at rutrum nisl enim a lorem. Ut quis tellus felis. Maecenas rhoncus accumsan odio quis faucibus. Aliquam erat tortor, vehicula eget facilisis eget, commodo et sapien. Suspendisse potenti. Praesent convallis urna non est mollis ultrices. Fusce fringilla lacinia sapien non eleifend. Morbi venenatis nulla id libero tempus et volutpat sem facilisis. Duis eu lacus sapien. Aliquam a lorem justo. Cras nec mi quam, vitae fermentum urna. </p>
        </div>
        















        <div id="contact" class="contentbox">
        <img  src="/fplanet.jpg" style="width:100%;height:550px;border-bottom:1px solid white;" />
        <h3>Contact</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed iaculis ornare nibh, vel condimentum risus blandit ut. Sed vel tortor ac ligula blandit interdum eu vel leo. In semper, nunc sit amet tincidunt volutpat, nisl elit tempor eros, at rutrum nisl enim a lorem. Ut quis tellus felis. Maecenas rhoncus accumsan odio quis faucibus. Aliquam erat tortor, vehicula eget facilisis eget, commodo et sapien. Suspendisse potenti. Praesent convallis urna non est mollis ultrices. Fusce fringilla lacinia sapien non eleifend. Morbi venenatis nulla id libero tempus et volutpat sem facilisis. Duis eu lacus sapien. Aliquam a lorem justo. Cras nec mi quam, vitae fermentum urna. </p>
        </div>


      </div>      
      
    </div>    
    


      
      
    </div>  







