


<div style="position:absolute;z-index:99999999;border-bottom:1px solid white;height:19%;width:100%;background:black;opacity:0.9;">






<div style="font-size:35px;">
<p style="margin:30px;color:white;font-family:Roboto2;">EMPORIO CARS</p>
</div>  






<div style="margin-left:70px;margin:0px auto;width:870px;">

<a class="active" href="#" onClick="goto('#home', this); return false"style="float:left;font-size:20px;color:white;font-family:Roboto2;margin-right:40px;">HOME</a>

<a href="#" onClick="goto('#used', this); return false"style="float:left;font-size:20px;color:white;font-family:Roboto2;margin-right:40px;">USED CARS</a>

<a href="#" onClick="goto('#warranty', this); return false" style="float:left;font-size:20px;color:white;font-family:Roboto2;margin-right:40px;">WARRANTY</a>

<a href="#" onClick="goto('#finance', this); return false"  style="float:left;font-size:20px;color:white;font-family:Roboto2;margin-right:40px;">FINANCE</a>

<a href="#" onClick="goto('#about', this); return false"  style="float:left;font-size:20px;color:white;font-family:Roboto2;margin-right:40px;">ABOUT US</a>

<a href="#" onClick="goto('#contact', this); return false"  style="float:left;font-size:20px;color:white;font-family:Roboto2;margin-right:40px;">CONTACT US</a>

</div>



</div>






















    <div id="wrap">
      
    <div id="content">
    
      <div class="contentbox-wrapper">
        






        <div id="home" class="contentbox">

        
        <img  src="/c63.jpg" style="z-index:-100;width:100%;height:100%;border-bottom:1px solid white;" />



        <div style="z-index:99999999999;margin-top:-40%;margin-right:33px;">
      

        <div style="float:right;width:450px;color:white;background:black;opacity:0.9;border:1px solid white;padding:20px;border-radius:4px;">
        <h3 style="padding:0px;margin:0px;font-family:Roboto2;font-weight:normal;">HOME OF PRESTIGE CARS</h3>
        <p style="font-size:17px;">Situated in Ilford, Essex we have been established since 2005. We specialise in Prestigious German cars.
          Here at German Car Specialist Ltd you can find some of most unique and highly spec'd pre owned german vehicles. All of our used cars are 'very' carefully selected and predominately sourced through main dealers.We take great pride in preparing our cars to the highest standards. </p>
        </div>


        </div>


        

        </div>
        











        <div id="used" class="contentbox">




<% if @user.vehicles.any? %>




  <div id="container" style="margin:0px auto;width:100px;margin-top:11%;">
      <%= render @vehicles  %>
  </div>


<% end %>
        
<script type="text/javascript">

var $container = $('#container');
$container.imagesLoaded(function(){
  $container.masonry({
      isFitWidth: true,
    itemSelector : '.item',
    columnWidth : 225
  });
});

</script>


</div>












        <div id="warranty" class="contentbox">
        <img  src="/fplanet.jpg" style="width:100%;height:100%;border-bottom:1px solid white;" />

        <div style="width:960px;margin:0px auto;z-index:99999999999;margin-top:-40%;">
      

        <div style="float:right;width:450px;color:white;background:black;opacity:0.9;border:1px solid white;padding:20px;border-radius:2px;">
        <h3 style="padding:0px;margin:0px;font-family:Roboto2;font-weight:normal;">WARRANTY</h3>
        <p style="font-size:17px;">Situated in Ilford, Essex we have been established since 2005. We specialise in Prestigious German cars.
          Here at German Car Specialist Ltd you can find some of most unique and highly spec'd pre owned german vehicles. All of our used cars are 'very' carefully selected and predominately sourced through main dealers.We take great pride in preparing our cars to the highest standards. </p>
        </div>


        </div>

        </div>
    










        <div id="finance" class="contentbox">

        <img  src="/c63.jpg" style="width:100%;height:100%;border-bottom:1px solid white;" />
                
        <div style="width:960px;margin:0px auto;z-index:99999999999;margin-top:-40%;">
      

        <div style="float:left;width:450px;color:white;background:black;opacity:0.9;border:1px solid white;padding:20px;border-radius:2px;">
        <h3 style="padding:0px;margin:0px;font-family:Roboto2;font-weight:normal;">FINANCE</h3>
        <p style="font-size:17px;">Situated in Ilford, Essex we have been established since 2005. We specialise in Prestigious German cars.
          Here at German Car Specialist Ltd you can find some of most unique and highly spec'd pre owned german vehicles. All of our used cars are 'very' carefully selected and predominately sourced through main dealers.We take great pride in preparing our cars to the highest standards. </p>
        </div>


        </div>

                
        </div>
        













        <div id="about" class="contentbox">

        <img  src="/lambo.jpg" style="width:100%;height:100%;border-bottom:1px solid white;" />


        <div style="width:960px;margin:0px auto;z-index:99999999999;margin-top:-40%;">
      

        <div style="float:right;width:450px;color:white;background:black;opacity:0.9;border:1px solid white;padding:20px;border-radius:2px;">
        <h3 style="padding:0px;margin:0px;font-family:Roboto2;font-weight:normal;">ABOUT US</h3>
        <p style="font-size:17px;">Situated in Ilford, Essex we have been established since 2005. We specialise in Prestigious German cars.
          Here at German Car Specialist Ltd you can find some of most unique and highly spec'd pre owned german vehicles. All of our used cars are 'very' carefully selected and predominately sourced through main dealers.We take great pride in preparing our cars to the highest standards. </p>
        </div>
</div>

        </div>
        















        <div id="contact" class="contentbox">

          <iframe width="100%" height="100%" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0" scrollwheel="false" src="http://maps.google.co.uk/maps?client=safari&amp;q=sl3+7fg&amp;ie=UTF8&amp;hq=&amp;hnear=Slough+SL3+7FG,+United+Kingdom&amp;gl=uk&amp;t=m&amp;z=14&amp;ll=51.501984,-0.571126&amp;output=embed" style=""></iframe>

          <div style="padding:10px;position:absolute;top:140px;width:320px;height:310px;right:20px;background:black;opacity:0.9;border:1px solid white;border-radius:2px;">

          <p style="color:#cfcfcf;margin-left:60px;margin-top:10px;font-size:18px;font-family: 'Roboto2';line-height:25px;font-weight:normal;">                                              

                                                                          <img src="icon/dribbble.png" width="40" height="40" alt="" title="minimad Facebook icon" style="margin-left:-50px;margin-right:10px;" />
                                                                          12 Downs Road</br>
                                                                          Canterbury</br>
                                                                          CT2 7TN
                                                                          </br></br>
                                                                          <img src="icon/twitter.png" width="40" height="40" alt="" title="minimad Facebook icon" style="margin-left:-50px;margin-right:10px;" />
                                                                          01227455966
                                                                          </br></br>
                                                                          <img src="icon/facebook.png" width="40" height="40" alt="" title="minimad Facebook icon" style="margin-left:-50px;margin-right:10px;" />
                                                                          facebook.com/emporiocars
                                                                          </br></br>
                                                                          <img src="icon/twitter1.png" width="40" height="40" alt="" title="minimad Facebook icon" style="margin-left:-50px;margin-right:10px;" />
                                                                          @emporiocars



                                                                           </p>

          </div>



        </div>


      </div>      
      
    </div>    
    


      
      
    </div>  



<div style="z-index:99999999;position:fixed;border-top:1px solid white;height:50px;width:100%;background:black;opacity:0.9;bottom:0;left:0;">

<div style="float:left;margin-left:33px;margin-top:4px;">
<img src="icon/facebook.png" width="40" height="40" alt="" title="minimad Facebook icon" />
<img src="icon/twitter1.png" width="40" height="40" alt="" title="minimad Facebook icon" />

</div>




<div style="float:right;margin-right:33px;margin-top:4px;">

<img src="icon/technorati.png" width="40" height="40" alt="" title="minimad Facebook icon" />
<img src="icon/email.png" width="40" height="40" alt="" title="minimad Facebook icon" />
</div>

<div style="margin:0px auto;width:100px;">

  <p style="font-family:Roboto2;font-size:25px;margin-top:15px;">
    01227455966</p>
</div>

</div>




