<div style="margin:0px auto;width:980px;">

<div style="font-size:35px;font-family:Roboto2;">
<p style="margin:30px;color:white;">EMPORIO CARS</p>
</div>  



<div style="margin-left:70px;">
<a style="float:left;font-size:20px;color:white;font-family:Roboto2;margin-right:40px;">HOME</a>
<a style="float:left;font-size:20px;color:white;font-family:Roboto2;margin-right:40px;">USED CARS</a>
<a style="float:left;font-size:20px;color:white;font-family:Roboto2;margin-right:40px;">WARRANTY</a>
<a style="float:left;font-size:20px;color:white;font-family:Roboto2;margin-right:40px;">ABOUT US</a>
<a style="float:left;font-size:20px;color:white;font-family:Roboto2;margin-right:40px;">FINANCE</a>
<a style="float:left;font-size:20px;color:white;font-family:Roboto2;margin-right:40px;">CONTACT US</a>
</div>
</div>
<div style="width:100%;border-bottom:1px solid white;margin-top:60px;">
</div>

<img  src="/c63.jpg" style="width:100%;height:450px;" />






