<img  src="/room.jpg" style="position:fixed;z-index:-9999999;width:100%;height:100%;" />


<div style="position:absolute;z-index:99999999;border-bottom:1px solid white;height:19%;width:100%;background:black;opacity:0.85;">






<div style="font-size:30px;">
<p style="margin:30px;color:white;font-family:entsans;">EMPORIO CARS<p style="font-size:10px;margin-top:-58px;margin-left:290px;font-family:entsans;">LTD</p></p>
</div>  






<div style="margin:0px auto;width:660px;margin-top:40px;">

<a class="active" href="#" onClick="goto('#home', this); return false"style="float:left;font-size:20px;color:white;font-family:Roboto3;margin-right:40px;">Home</a>

<a href="#" onClick="goto('#used', this); return false"style="float:left;font-size:20px;color:white;font-family:Roboto3;margin-right:40px;">Used Cars</a>

<a href="#" onClick="goto('#warranty', this); return false" style="float:left;font-size:20px;color:white;font-family:Roboto3;margin-right:40px;">Warranty</a>

<a href="#" onClick="goto('#finance', this); return false"  style="float:left;font-size:20px;color:white;font-family:Roboto3;margin-right:40px;">Previously Sold</a>

<a href="#" onClick="goto('#contact', this); return false"  style="float:left;font-size:20px;color:white;font-family:Roboto3;margin-right:40px;">Contact Us</a>

</div>



</div>






















    <div id="wrap">
      
    <div id="content">
    
      <div class="contentbox-wrapper">
        


        



        <div id="home" class="contentbox">

        
        <img  src="/range.jpg" style="z-index:-100;width:100%;height:100%;border-bottom:1px solid white;" />


<a href="#" onClick="goto('#used', this); return false"style="z-index:9999999999999999;position:absolute;top:160px;float:left;font-size:17px;color:white;font-family:Roboto2;margin-left:33px;" class="btn btn-danger btn-large">Search All Our Stock</a>



        <div style="position:absolute;top:160px;float:right;width:20%;">
      

        <div style="float:right;margin-right:20px;width:550px;color:white;background:black;opacity:0.8;border:1px solid white;padding:20px;border-radius:4px;">
        <h3 style="padding:0px;margin:0px;font-family:Roboto2;font-weight:normal;">HOME OF PRESTIGE CARS</h3>
        <p style="font-size:17px;">

          Here at Emporio Cars Ltd we have over 10 years motor trade experience and you can be assured to receive a proffessional, friendly and hassle free experience.

        </br></br>

          We do not follow a strict sales process and we do not pressure our customers in any way. All of our customers are treated equally regardless of their budget. It's all about finding the right car for you, at the right price, so you can drive away happy.

        </br></br>

          Please feel free to call, text or email us with any questions and we will answer them honestly and as thoroughly as possible.

        </br></br>

          Our phone line is open 7 days a week 9am - 9pm. However, viewing is by appointment.

        </br>
        
          Most of our vehicles are fully prepared and ready to drive away. We can arrange road fund for your new vehicle quickly and can also handle all of your private plate transfers.



        </p>
        </div>


        </div>


        

        </div>
        











        <div id="used" class="contentbox">









  <div id="container" style="margin:0px auto;width:20%;margin-top:160px;">
      <%= render @vehicles %>
  </div>


<script type="text/javascript">

var $container1 = $('#container');
$container1.imagesLoaded(function(){
  $container1.masonry({
      isFitWidth: true,
    itemSelector : '.item',
    columnWidth : 315
  });
});

</script>
        



</div>











        <div id="warranty" class="contentbox">
        <img  src="/jag.jpg" style="width:100%;height:100%;border-bottom:1px solid white;" />

        <div style="width:960px;margin:0px auto;z-index:99999999999;margin-top:-30%;">
      

              <div style="float:left;width:420px;color:white;background:black;opacity:0.9;border:1px solid white;padding:20px;border-radius:2px;">

        <h3 style="padding:0px;margin:0px;font-family:Roboto2;font-weight:normal;">WARRANTY OPTIONS</h3>

        <p style="font-size:17px;">Customer Protect Gold Warranty is designed to help with the cost of repairs including replacement parts, labour and VAT. And when you consider that modern vehicles contain more than 700 components, any of which might fail over time, the impact on your pocket could be painful! </p>




        </div>

        <div style="float:right;width:420px;color:white;background:black;opacity:0.9;border:1px solid white;padding:20px;border-radius:2px;">

        <h3 style="padding:0px;margin:0px;font-family:Roboto2;font-weight:normal;font-size:20px;">
          Some of the things covered</h3>

        <p style="font-size:15px;">
              

Parts, Labour & VAT
</br>Comprehensive Parts Cover
</br>National Repair Network
</br>3 Month - 4 Year Options Available
</br>Fast Payment of Claims
Transferable Warranty Package </p>


        </div>








        </div>

        </div>
    










        <div id="finance" class="contentbox">


          <div id="container1" style="margin:0px auto;width:20%;margin-top:14%;">

           <img class="item1" src="/sc/AudiA4Convertible.jpeg"  />

           <img class="item1" src="/sc/Audi A4 Sline Silver.jpeg"  />

           <img class="item1" src="/sc/BMW 328 Silver.jpeg"  />

           <img class="item1" src="/sc/BMW 330D Estoril Blue.jpeg" />

           <img class="item1" src="/sc/C200 BLue.jpeg" />

           <img class="item1" src="/sc/DSCF6454.jpeg"  />

           <img class="item1" src="/sc/Honda Civic.jpeg"  />

           <img class="item1" src="/sc/Mercedes C270 CDI Black.jpeg"  />

           <img class="item1" src="/sc/Mercedes SL500.jpeg" />

           <img class="item1" src="/sc/Nissan Micra Blue.jpeg"  />

          </div>



        <img  src="/cc63.jpg" style="z-index:-999;position:absolute;top:0;width:20%;border-bottom:1px solid white;" />

        
<script type="text/javascript">

var $container = $('#container1');
$container.imagesLoaded(function(){
  $container.masonry({
      isFitWidth: true,
    itemSelector : '.item1',
    columnWidth : 230
  });
});

</script>

                
        </div>















        <div id="contact" class="contentbox">

          <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?client=safari&amp;oe=UTF-8&amp;q=TN24+8NN&amp;ie=UTF8&amp;hq=&amp;hnear=TN24+8NN,+United+Kingdom&amp;gl=uk&amp;t=m&amp;z=14&amp;ll=51.152606,0.868599&amp;output=embed&amp;iwloc=near"></iframe></small>



          <div style="padding:10px;position:absolute;top:160px;width:320px;height:290px;right:20px;background:black;opacity:0.85;border:1px solid white;border-radius:5px;">

<div class="" style="margin:10px;">


      <input type="text"  placeholder="Name" style="float:right;"/>

      <p style="font-family:Roboto2;float:left;">Name</p>
      <input type="text" placeholder="Email address" style="float:right;"/>

      <p style="font-family:Roboto2;float:left;">Email</p>
      <input type="text" placeholder="Contact number" style="float:right;"/>

      <p style="font-family:Roboto2;float:left;">Tel</p>
      <textarea type="text" id="inputEmail" rows="4" placeholder="Type message here..." style="float:right;"></textarea>
       <p style="font-family:Roboto2;float:left;">Message</p>


      <button type="submit" class="btn btn-inverse btn-large" style="float:right;width:300px;font-family:Roboto2;">SEND</button>


</div>

          </div>


          <div style="margin-left:20px;padding:10px;float:left;top:160px;position:absolute;width:210px;background:black;opacity:0.85;border:1px solid white;border-radius:5px;">

          <p style="color:#cfcfcf;margin-left:60px;margin-top:10px;font-size:18px;font-family: 'Roboto2';line-height:25px;font-weight:normal;">                                              

                                                                          <img src="icon/dribbble.png" width="30" height="30" alt="" title="minimad Facebook icon" style="margin-left:-50px;margin-right:10px;" />
                                                                          Magazine Road</br>
                                                                          Ashford</br>
                                                                          Kent</br>
                                                                          TN24 8NN
                                                                          </br></br>
                                                                          <img src="icon/twitter.png" width="30" height="30" alt="" title="minimad Facebook icon" style="margin-left:-50px;margin-right:10px;" />
                                                                          07790 220000

          </p>

          </div>



        </div>


      </div>      
      
    </div>    
    


      
      
    </div>  



<div style="z-index:99999999;position:fixed;border-top:1px solid white;height:50px;width:100%;background:black;opacity:0.9;bottom:0;left:0;">

<div style="float:left;margin-left:33px;margin-top:4px;">
<img src="icon/technorati.png" width="40" height="40" alt="" title="minimad Facebook icon" />
<img src="icon/email.png" width="40" height="40" alt="" title="minimad Facebook icon" />
</div>




<div style="float:right;margin-right:33px;margin-top:4px;">


<img src="cp.gif"  style="border-radius:8px;height:40px;width:40px;" />
<img src="hpi.jpg"  style="border-radius:8px;height:40px;width:40px;" />
<img src="icon/twitter1.png" width="40" height="40" alt="" title="minimad Facebook icon" />
<img src="icon/facebook.png" width="40" height="40" alt="" title="minimad Facebook icon" />
</div>

<div style="margin:0px auto;width:200px;">

  <p style="font-family:Roboto2;font-size:25px;margin-top:15px;">
    07790 220000</p>
</div>

</div>




