<div style="margin:0px auto;width:980px;">

<div style="font-size:35px;font-family:Roboto2;">
<p style="margin:30px;color:white;">EMPORIO CARS</p>
</div>  


<div style="margin-left:70px;">

<a class="active" href="#" onClick="goto('#about', this); return false"style="float:left;font-size:20px;color:white;font-family:Roboto2;margin-right:40px;">HOME</a>

<a href="#" onClick="goto('#work', this); return false"style="float:left;font-size:20px;color:white;font-family:Roboto2;margin-right:40px;">USED CARS</a>

<a href="#" onClick="goto('#contact', this); return false" style="float:left;font-size:20px;color:white;font-family:Roboto2;margin-right:40px;">WARRANTY</a>

<a style="float:left;font-size:20px;color:white;font-family:Roboto2;margin-right:40px;">ABOUT US</a>

<a style="float:left;font-size:20px;color:white;font-family:Roboto2;margin-right:40px;">FINANCE</a>

<a style="float:left;font-size:20px;color:white;font-family:Roboto2;margin-right:40px;">CONTACT US</a>

</div>
</div>


<div style="width:100%;border-bottom:1px solid white;margin-top:60px;">
</div>




    <div id="wrap">
      
    <div id="content">
    
      <div class="contentbox-wrapper">
        
        <div id="about" class="contentbox">

        <img  src="/c63.jpg" style="width:100%;height:450px;" />
                
        <h3>About</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed iaculis ornare nibh, vel condimentum risus blandit ut. Sed vel tortor ac ligula blandit interdum eu vel leo. In semper, nunc sit amet tincidunt volutpat, nisl elit tempor eros, at rutrum nisl enim a lorem. Ut quis tellus felis. Maecenas rhoncus accumsan odio quis faucibus. Aliquam erat tortor, vehicula eget facilisis eget, commodo et sapien. Suspendisse potenti. Praesent convallis urna non est mollis ultrices. Fusce fringilla lacinia sapien non eleifend. Morbi venenatis nulla id libero tempus et volutpat sem facilisis. Duis eu lacus sapien. Aliquam a lorem justo. Cras nec mi quam, vitae fermentum urna. </p>
                
        </div>
        
        <div id="work" class="contentbox">

        <img  src="/lambo.jpg" style="width:100%;height:450px;" />


        <h3>Work</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed iaculis ornare nibh, vel condimentum risus blandit ut. Sed vel tortor ac ligula blandit interdum eu vel leo. In semper, nunc sit amet tincidunt volutpat, nisl elit tempor eros, at rutrum nisl enim a lorem. Ut quis tellus felis. Maecenas rhoncus accumsan odio quis faucibus. Aliquam erat tortor, vehicula eget facilisis eget, commodo et sapien. Suspendisse potenti. Praesent convallis urna non est mollis ultrices. Fusce fringilla lacinia sapien non eleifend. Morbi venenatis nulla id libero tempus et volutpat sem facilisis. Duis eu lacus sapien. Aliquam a lorem justo. Cras nec mi quam, vitae fermentum urna. </p>
        </div>
        
        <div id="contact" class="contentbox">
        <img  src="/fplanet.jpg" style="width:100%;height:450px;" />
        <h3>Contact</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed iaculis ornare nibh, vel condimentum risus blandit ut. Sed vel tortor ac ligula blandit interdum eu vel leo. In semper, nunc sit amet tincidunt volutpat, nisl elit tempor eros, at rutrum nisl enim a lorem. Ut quis tellus felis. Maecenas rhoncus accumsan odio quis faucibus. Aliquam erat tortor, vehicula eget facilisis eget, commodo et sapien. Suspendisse potenti. Praesent convallis urna non est mollis ultrices. Fusce fringilla lacinia sapien non eleifend. Morbi venenatis nulla id libero tempus et volutpat sem facilisis. Duis eu lacus sapien. Aliquam a lorem justo. Cras nec mi quam, vitae fermentum urna. </p>
        </div>
    
      </div>      
      
    </div>    
    


      
      
    </div>  







