<div style="margin:0px auto;width:960px;">

<img src="/ukc.jpg"  style="height:120px;" />

</br>

<div style="width:190px;">

	<p style="float:left;font-size:13px;color:black;">To:</p>
	<p style="float:right;font-size:13px;color:black;">Tauheed Tariq</p>
		<p style="float:left;font-size:13px;color:black;">Student Number:</p>
	<p style="float:right;font-size:13px;color:black;">10149622</p>
		<p style="float:left;font-size:13px;color:black;">School:</p>
	<p style="float:right;font-size:13px;color:black;">Actuarial Science</p></br>


</div>




<div style="float:left;width:960px;background:#C8C8C8 ;margin-top:10px;">

	<p style="font-size:15px;color:black;font-weight:bold;margin:5px;">Your Result</p>

</div>





<div style="float:left;width:960px;margin-top:10px;">

	<p style="font-size:14px;color:black;margin:5px;"></br>
	We are pleased to inform you that you have satisfied the examiners in the recent examinations and have successfully completed Stage 2. An email detailing the options open to you for module choice will be sent to you along with the module outlines. Deadline for module registration is August 11th this year.

</br></br>
 
If you have any queries regarding this result please contact your School Office.</br>
</p></br>

</div>





<div style="float:left;width:960px;background:#C8C8C8 ;margin-top:10px;">

	<p style="font-size:15px;color:black;font-weight:bold;margin:5px;">A Message from the Vice-Chancellor</p>

</div>





<div style="float:left;width:960px;margin-top:10px;">

	<p style="font-size:14px;color:black;margin:5px;"></br>
On behalf of the University of Kent, I am delighted to congratulate you on your successful stage result. Completing each stage of your course at Kent is a highly creditable achievement that reflects well on you and your teachers.
</br></br>
I look forward to seeing you in the next academic session.
</br></br>
<img src="/vcsig.jpg"  style="width:300px;" />
</br></br>
Vice-Chancellor
</p></br>

</div>





<div style="float:left;width:960px;background:#C8C8C8 ;margin-top:10px;">

	<p style="font-size:15px;color:black;font-weight:bold;margin:5px;">Your Marks</p>

</div>
</br>

<div style="float:left;width:960px;">




<p style="font-size:14px;color:black;margin:5px;"></br>
	These are your marks for the current academic session:</br></br>
</p>


<table style="width:100%;background:#CCFFFF;">
  <tr style="font-weight:bold;font-size:15px;border-bottom:1px solid #999;">
    <th>Stage</th>
    <th>Module Code</th>
    <th>Coursework Mark</th>
    <th>Project Mark</th>
    <th>Exam Mark</th>
    <th>Final Mark</th>
    <th>Assessment Pattern</th>
    <th>Result</th>
    <th>Credits Awarded</th>

  </tr>


  <tr style="border-bottom:1px dotted #999;text-align:center;">
    <td>2</td>
    <td>MA309</td>
    <td>93</td>
    <td>-</td>
    <td>77</td>
    <td>81</td>
    <td>80% Exam, 20% Coursework</td>
    <td>Pass</td>
    <td>30</td>
  </tr>

  <tr style="border-bottom:1px dotted #999;text-align:center;">
    <td>2</td>
    <td>MA310</td>
    <td>95</td>
    <td>-</td>
    <td>86</td>
    <td>88</td>
    <td>90% Exam, 10% Coursework</td>
    <td>Pass</td>
    <td>30</td>
  </tr>

    <tr style="border-bottom:1px dotted #999;text-align:center;">
    <td>2</td>
    <td>MA509</td>
    <td>91</td>
    <td>-</td>
    <td>82</td>
    <td>84</td>
    <td>90% Exam, 10% Coursework</td>
    <td>Pass</td>
    <td>30</td>
  </tr>

    <tr style="border-bottom:1px dotted #999;text-align:center;">
    <td>2</td>
    <td>MA403</td>
    <td>100</td>
    <td>-</td>
    <td>80</td>
    <td>84</td>
    <td>80% Exam, 20% Coursework</td>
    <td>Pass</td>
    <td>30</td>
  </tr>

    <tr style="border-bottom:1px dotted #999;text-align:center;">
    <td>2</td>
    <td>MA512</td>
    <td>96</td>
    <td>-</td>
    <td>83</td>
    <td>90</td>
    <td>50% Exam, 50% Coursework</td>
    <td>Pass</td>
    <td>30</td>
  </tr>

    <tr style="border-bottom:1px dotted #999;text-align:center;">
    <td>2</td>
    <td>MA419</td>
    <td>94</td>
    <td>-</td>
    <td>77</td>
    <td>79</td>
    <td>80% Exam, 20% Coursework</td>
    <td>Pass</td>
    <td>30</td>
  </tr>

    <tr style="border-bottom:1px dotted #999;text-align:center;">
    <td>2</td>
    <td>MA700</td>
    <td>98</td>
    <td>-</td>
    <td>92</td>
    <td>93</td>
    <td>90% Exam, 10% Coursework</td>
    <td>Pass</td>
    <td>30</td>
  </tr>



</table>

</div>








<div style="float:left;width:960px;background:#C8C8C8 ;margin-top:10px;">

	<p style="font-size:15px;color:black;font-weight:bold;margin:5px;">School Contact Details</p>

</div>


<div style="float:left;width:960px;">
</br>
<p style="font-size:14px;color:black;margin:5px;">
NOTE: If you are phoning from inside the Canterbury campus, please dial '0' instead of '01227 764000' in order to reach the main switchboard.
 </br></br>
NOTE: Students studying at the Medway Campus should contact the Student Administration Office.
 </br></br>
Medway Campus</br>
Humanities and Social Sciences</br>
Sciences</br>
</p>

</div>




<div style="float:left;width:960px;background:#C8C8C8 ;margin-top:10px;">

	<p style="font-size:15px;color:black;font-weight:bold;margin:5px;">Medway Campus</p>

</div>


<div style="float:left;width:960px;margin:5px;">
</br>
<p style="font-size:14px;color:black;margin:5px;">

<p style="font-weight:bold;color:black;font-size:14px;">
Student Administration Office</p>
Gillingham Building</br>
Tel: 01634 88 8881</br>
Email: <a style="color:blue;text-decoration:underline;">gillrecp@kent.ac.uk</a>
</p>

</div>







<div style="float:left;width:960px;background:#C8C8C8 ;margin-top:10px;">

	<p style="font-size:15px;color:black;font-weight:bold;margin:5px;">Humanities and Social Sciences</p>

</div>


<div style="float:left;width:960px;margin:5px;">
</br>
<p style="font-size:14px;color:black;margin:5px;">

<p style="font-weight:bold;color:black;font-size:14px;">
Humanities and Social Sciences Undergraduate Office</p>
Room G4</br>
Registry</br>
Tel: 01227 764000 Ext. 3211 or Ext. 3912</br>
Email: <a style="color:blue;text-decoration:underline;">hsugo@kent.ac.uk</a></br>
</p>

</div>






<div style="float:left;width:960px;background:#C8C8C8 ;">

	<p style="font-size:15px;color:black;font-weight:bold;margin:5px;">Sciences</p>

</div>


<div style="float:left;width:960px;margin:5px;">
</br>
<p style="font-size:14px;color:black;margin:5px;">

<p style="font-weight:bold;color:black;font-size:14px;">
School of Biosciences</p>
 
The Administration Office</br>
Room 123, Department of Biosciences</br>
01227 764000 Ext. 3025</br>
<a style="color:blue;text-decoration:underline;">bio-admin@kent.ac.uk</a></br></br>


<p style="font-weight:bold;color:black;font-size:14px;">
School of Computing</p>
 
Computing Course Administration Office</br>
Room S132</br>
Computing</br>
01227 764000 Ext 4520</br>
<a style="color:blue;text-decoration:underline;">computing@kent.ac.uk</a></br></br>


<p style="font-weight:bold;color:black;font-size:14px;">
School of Engineering & Digital Arts</p>
 
Relly Bowman</br>
Room 104 Jennison Building</br>
01227 764000 Ext. 3700</br>
<a style="color:blue;text-decoration:underline;">eda-admin@kent.ac.uk</a></br></br>
 

<p style="font-weight:bold;color:black;font-size:14px;">
School of Mathematics, Statistics and Actuarial Science</p>
 
Room E01 School of Mathematics, Statistics and Actuarial Science</br>
01227 764000 Ext. 7181</br>
<a style="color:blue;text-decoration:underline;">imsadmin@kent.ac.uk</a></br></br>


<p style="font-weight:bold;color:black;font-size:14px;">
School of Physical Sciences</p>
 
Mrs Christine Vickerman</br>
Student Support Advisor</br>
Room 207 Ingram</br>
<a style="color:blue;text-decoration:underline;">spssupport@kent.ac.uk</a></br>
01227 764000 EXT: 7311</br></br>
 
Please contact your tutor with any queries.</br>
</p>

</div>




</div>