<div style="position:absolute;z-index:99999999;border-bottom:1px solid white;height:19%;width:100%;background:black;opacity:0.8;">

<div style="font-size:35px;">
<p style="margin:30px;color:white;font-family:Roboto2;">EMPORIO CARS</p>
</div>  


<div style="margin-left:70px;margin:0px auto;width:870px;">
<a style="float:left;font-size:20px;color:white;font-family:Roboto2;margin-right:40px;">BACK</a>
</div>

</div>




