/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

@font-face {
font-family: "Roboto3";
src: url("../Roboto3.ttf");
src: local("?"),
url("../Roboto3.ttf") format("truetype");
}

@font-face {
font-family: "Roboto2";
src: url("../Roboto2.ttf");
src: local("?"),
url("../Roboto2.ttf") format("truetype");
}

body {

background-image: linear-gradient(right , rgb(36,37,41) 0%, rgb(0,0,0) 74%);
background-image: -o-linear-gradient(right , rgb(36,37,41) 0%, rgb(0,0,0) 74%);
background-image: -moz-linear-gradient(right , rgb(36,37,41) 0%, rgb(0,0,0) 74%);
background-image: -webkit-linear-gradient(right , rgb(36,37,41) 0%, rgb(0,0,0) 74%);
background-image: -ms-linear-gradient(right , rgb(36,37,41) 0%, rgb(0,0,0) 74%);

background-image: -webkit-gradient(
	linear,
	right top,
	left top,
	color-stop(0, rgb(36,37,41)),
	color-stop(0.74, rgb(0,0,0))
);
font-family: 'Roboto2';
}

    html, body, ul, ol, li, form, fieldset, legend{
      margin: 0;
      padding: 0;
    }

    
    #wrap{      
      width:100%;
      margin:0 auto;
    }
    
        
    #content{   
      overflow:hidden;
      width:100%;  
    }
    
    .contentbox-wrapper{      
      position:relative; 
      left:0; 
      width:300%; 
      height:100%;
    }
    
    .contentbox{
      width:33.3333333333333333%; 
      height:100%; 
      float:left; 
    } 

