/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

@font-face {
font-family: "Roboto3";
src: url("../Roboto3.ttf");
src: local("?"),
url("../Roboto3.ttf") format("truetype");
}

@font-face {
font-family: "Roboto2";
src: url("../Roboto2.ttf");
src: local("?"),
url("../Roboto2.ttf") format("truetype");
}

body {
background-image: linear-gradient(right , rgb(36,37,41) 0%, rgb(0,0,0) 74%);
background-image: -o-linear-gradient(right , rgb(36,37,41) 0%, rgb(0,0,0) 74%);
background-image: -moz-linear-gradient(right , rgb(36,37,41) 0%, rgb(0,0,0) 74%);
background-image: -webkit-linear-gradient(right , rgb(36,37,41) 0%, rgb(0,0,0) 74%);
background-image: -ms-linear-gradient(right , rgb(36,37,41) 0%, rgb(0,0,0) 74%);

background-image: -webkit-gradient(
	linear,
	right top,
	left top,
	color-stop(0, rgb(36,37,41)),
	color-stop(0.74, rgb(0,0,0))
);
font-family: 'Roboto2';
}

.content {
  background-color: transparent;
  color:white;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
  font-family: 'Roboto2';
}
